table {
    border-style: solid;
    border:1px solid #d8a64a;
}

table th {
    border-style: solid;
    border:1px solid #d8a64a
}

table td {
    border-style: solid;
    border:1px solid #d8a64a
}

tr:hover {
    background-color: #8fbc8f65
}

.forminput {
    color: rgb(255, 253, 245);
    padding: 0.7rem;
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(33, 48, 39);
    border:2px solid #d8a64a;
    transition: all 0.3s;
    margin-bottom: 0.3.rem;
    outline:0;
    margin-right: 1rem;
}