body {
    font-family: 'Mukta', sans-serif;    
    background:rgb(33, 48, 39);
    justify-content: center;
    color: rgb(221, 216, 216);
}

table {
    color: rgb(255, 253, 245);
    padding: 0.5rem;
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 18px;
    border:2px solid #e9d5b1;
    transition: all 0.3s;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
    margin-top: 1rem;
}

tr th {
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    background-color: #8fbc8f28;
}
tbody tr:hover {
    background-color: #8fbc8f65;
    cursor: pointer;
}

input[type=text] {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}
input[type=text]:hover {
    background-color: #8fbc8f28
}

input[type=password] {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}
input[type=password]:hover {
    background-color: #8fbc8f28
}

input[type=email] {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}
input[type=email]:hover {
    background-color: #8fbc8f28
}

input[type=date] {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}
input[type=date]:hover {
    background-color: #8fbc8f28
}

input[type=time] {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}

select {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
}
select option:hover {
    background-color: #8fbc8f28
}

textarea {
    color: rgb(255, 253, 245);
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(18, 27, 24);
    border:2px solid #d7c8f0;
    transition: all 0.3s;
    padding: 13px;
    margin-top: 1rem;
    margin-bottom: 0.3.rem;
    width:100%;
    outline:0;
    height: 30rem;
    display: grid;
    color: rgb(255, 253, 245);
    justify-content: center;
    padding: 1rem;
}

button {
    background-color: #d8a64a;
    border: none;
    color: rgb(255, 253, 245);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}
button:hover {
    background-color: #8fbc8f65;
}

.btn.orange {
    background-color: #d8a64a;
    border: none;
    color: rgb(255, 253, 245);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}
.btn.orange:hover {
    background-color: #8fbc8f65;
    border: none;
    color: rgb(255, 253, 245);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}

.inline {
    display: inline-block;
}

.form-two-columns {
    column-count: 2;
}

.form-text-input {
    color: rgb(255, 253, 245);
    padding: 0.7rem;
    font-family: 'Mukta', sans-serif;
    font-weight:500;
    font-size: 16px;
    border-radius: 5px;
    line-height: 16px;
    background-color: rgb(33, 48, 39);
    border:2px solid #e9d5b1;
    transition: all 0.3s;
    margin-bottom: 0.3.rem;
    outline:0;
    margin-right: 1rem;
}

.form-text-input:hover {
    background-color: #8fbc8f28
}