body {
    width: 100%;
    color: rgb(255, 253, 245);
}

.container {
    display: grid;
    justify-content: center;
    padding: 1em;
    margin: 2rem 2rem;
    max-width: 50rem;
}

.btn {
    background-color: #8fbc8fd0;
    border: none;
    color: rgb(255, 253, 245);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}
.btn:hover {
    background-color: #8fbc8f65;
}

.box {
    display: grid;
    color: rgb(255, 253, 245);
    justify-content: center;
    border:2px solid #d7c8f0;
    border-radius: 10px;
    background-color: rgb(33, 48, 39);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem
}
