body {
    width: 100%;
    color: rgb(255, 253, 245);
}

.container {
    display: grid;
    max-width: 50rem;
    justify-content: center;
    padding: 1em;
    margin: 2rem 2rem;
}

.btn {
    background-color: #8fbc8fd0;
    border: none;
    color: rgb(255, 253, 245);
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}
.btn:hover {
    background-color: #8fbc8f65;
}

