.intro {
    width: 25rem
}

.container {
    display: grid; 
    justify-content: center; 
    text-align: center; 
    padding: 40px 25px;
    max-width: 50rem;
}

.headerbumpup {
    margin-top: -10px;
}

.introparagraph {
    padding: 40px 25px;
}

.profilepic {
    margin: -10px;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0;
}

.bookmassagebtn {
    background-color: #32ac327c;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 0.3em;
}
.bookmassagebtn:hover {
    background-color: #4cbb4c17;
    color: #32ac327c
}

.box {
    display: grid;
    color: rgb(255, 253, 245);
    justify-content: center;
    border:2px solid #d7c8f0;
    border-radius: 10px;
    background-color: rgb(33, 48, 39);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    max-width: 50rem;
    margin-right: 2rem;
}

.section {
    margin-top: 1.5rem;
}

.li {
    margin-left: 1rem;
    padding-top: 1rem;
}