body {
    display: grid;
}

.logo {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: larger;
    margin-right: 2rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 4rem;
    text-align: center;
  }

.menuitem {
    color: white;
    font-size: medium;
    padding: 1rem;
    float: left;
    display: block;
    text-align: center;
    margin: 0;
    height: 5rem;
}
.menuitem:hover {
    background-color: #8b87a0;
    cursor: pointer;
}

.navbar {
    height: 4rem;
    background-color: rgb(33, 48, 39);
    width: 100%;
}

Link {
    color: white
}